/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: rgb(255, 255, 255);
}

.contenedor {
  width: 100%;
}
.navbar {
  width: 100%;
  transform: translateY(-100px);
  opacity: 0;
}
.navbar-nav{
  align-items: center;
}

.barTop {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 100%;
}
.navbar{
  background-color: #000000;
}
.menu {
  cursor: pointer;
}

.menu.logo {
  position: relative;
  width: 100px;
  height: 100px;
}
.row{
  color: #000000;
}
.logo-normal, .logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.logo-hover {
  opacity: 0;
}

.menu.logo:hover .logo-normal {
  opacity: 0;
}

.menu.logo:hover .logo-hover {
  opacity: 1;
}

/* Menú responsivo */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon .bar {
  background-color: white;
  height: 2px;
  width: 25px;
  margin: 3px 0;
}

/* Contendio de la pagina */
/* Contendio de la pagina */
.contenido {
  background-color: aliceblue;
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
  overflow: hidden;
}

.contenido::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../IMG/Fondo-Claro.gif'); /* Reemplaza con la URL correcta de tu GIF */
  background-size: cover;
  opacity: 1;
  animation: playGif 3s forwards; /* Ajusta la duración según la duración de tu GIF */
}

@keyframes playGif {
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-list {
    display: none;
    position: absolute;
    background-color: #000000;
    width: 100%;
    flex-direction: column;
    top: 60px;
    left: 0;
    right: 0;
  }

  .menu-toggle:checked + .menu-icon + .nav-list {
    display: flex;
  }

  .nav-list li {
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid #000000;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-list {
    display: none;
    position: absolute;
    background-color: #000000;
    width: 100%;
    flex-direction: column;
    top: 60px;
    left: 0;
    right: 0;
  }

  .menu-toggle:checked + .menu-icon + .nav-list {
    display: flex;
  }

  .nav-list li {
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid #000000;
  }
}
